@using IdentityServer4.SecurityTokenService.Common
@using IdentityServer4.SecurityTokenService.Extensions
@inject STSOptions Options
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - @Options.SiteName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/lib/select2/dist/css/select2.css" asp-append-version="true">
    <link rel="stylesheet" href="~/lib/icheck-bootstrap/icheck-bootstrap.min.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/lib/toastr/build/toastr.min.css" asp-append-version="true"/>
    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
    </environment>
</head>
<body>
<header>
    <nav class="d-none navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@Options.SiteName</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial"/>
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        @* <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a> *@
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @{
            var notification = ViewData.GetNotification();
            if (notification != null)
            {
                switch (notification.Type)
                {
                    case NotificationType.Success:
                    {
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Success!</strong> @notification.Message
                        </div>
                        break;
                    }
                    case NotificationType.Warning:
                    {
                        <div class="alert alert-warning alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Warning!</strong> @notification.Message
                        </div>
                        break;
                    }
                    case NotificationType.Error:
                    {
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Error!</strong> @notification.Message
                        </div>
                        break;
                    }
                    case NotificationType.Info:
                    {
                        <div class="alert alert-info alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Info</strong> @notification.Message
                        </div>
                        break;
                    }
                }
            }
        }
        @RenderBody()
    </main>
</div>

<footer class="footer">
    <div class="container">
        @Html.Raw(Options.LoinPoweredBy)
        @Html.Raw(Options.LoinICP)
        @Html.Raw(Options.LoinPolice)
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
<script src="~/lib/select2/dist/js/select2.full.min.js" asp-append-version="true"></script>
<script src="~/lib/toastr/build/toastr.min.js" asp-append-version="true"></script>
<script src="~/js/id-toast.min.js.js"></script>
@RenderSection("Scripts", required: false)
</body>
</html>