﻿@using IdentityServer4.SecurityTokenService.Common
@using IdentityServer4.SecurityTokenService.Common
@model IdentityServer4.SecurityTokenService.Models.Account.PhoneNumberResetPasswordViewModel
@inject STSOptions STSOptions
@{
    ViewData["Title"] = "忘记密码";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="bg"></div>
<div class="logo">
    <img src="@STSOptions.LoinLogo" alt="logo" style="width: 128px;">
    <span>@Html.Raw(STSOptions.LoinSlogan)</span>
</div>
<div class="content-login">
    <div class="card" style="height: 550px;">
        <div class="card-body">
            <h2 class="card-title">设置新密码</h2>
            <div class="text-right">
                <a asp-controller="Account" asp-action="Login">返回登录></a>
            </div>
            <partial name="_ValidationSummary"/>
            <form method="post" asp-controller="Account" asp-action="VerifyChangePassword">
                <div class="form-group">
                    <input asp-for="@Model.PhoneNumber" class="form-control form-control-lg" placeholder="请输入手机号码"/>
                    <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group input-group">
                    <div class="col-md-8" style="margin-left: 0; padding-left: 0">
                        <input asp-for="@Model.Code" class="form-control form-control-lg" placeholder="请输入6位验证码"/>
                        <span asp-validation-for="@Model.Code" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 text-right">
                        <button type="button" class="btn btn-primary" id="btn-send-code" style="color: blue;">发送验证码</button>
                    </div>
                </div>
                <div class="form-group">
                    <input asp-for="@Model.Password" class="form-control form-control-lg" placeholder="请输入新密码"/>
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                    <span class="icon icon-visible" aria-hidden="true"></span>
                </div>
                <div class="form-group">
                    <input asp-for="@Model.PasswordConfirm" class="form-control form-control-lg" placeholder="请再次确认密码"/>
                    <span asp-validation-for="@Model.PasswordConfirm" class="text-danger"></span>
                    <span class="icon icon-visible" aria-hidden="true"></span>
                </div>
                <div class="form-group">
                    <button class="btn btn-block btn-primary btn-lg" name="button" value="submit" style="color: blue;">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
     <script>
        $(function(){
         $("#btn-send-code").click(function(){
               let phoneNumber = $("#PhoneNumber").val();
               if (!phoneNumber){
                    $.id_toast({msg:"请输入手机号码！",type: "error"});
                   return;
               }
              $.ajax({
               url:"/Account/SendMobilePhoneCode",
               type:"post",
               data:{"phoneNumber":phoneNumber},    
               success:function(data){
                   debugger;
                   if (data){
                      $.id_toast(data);
                   }
               },
               error:function(data){
                  $.id_toast({msg:"service error！",type: "error"});
               }
           });
          });
         
       });
    </script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}l>