﻿@using IdentityServer4.SecurityTokenService.Common
@using IdentityServer4.SecurityTokenService.Common
@model IdentityServer4.SecurityTokenService.Models.Account.PhoneNumberResetPasswordViewModel
@inject STSOptions STSOptions
@{
    ViewData["Title"] = "忘记密码";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="bg"></div>
<div class="logo">
    <img src="@STSOptions.LoinLogo" alt="logo" style="width: 128px;">
    <span>@Html.Raw(STSOptions.LoinSlogan)</span>
</div>
<div class="content-login">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">设置新密码</h2>
            @* <partial name="_ValidationSummary"/> *@
            <form id="form-reset-pwd" asp-controller="Account" asp-action="VerifyChangePassword">
                <input asp-for="@Model.ReturnUrl" type="hidden"/>
                <div class="form-group">
                    <input asp-for="@Model.PhoneNumber" class="form-control form-control-lg" placeholder="请输入手机号码"/>
                    <span id="phoneval" asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group input-group">
                    <div class="col-md-8" style="margin-left: 0; padding-left: 0; padding-right: 0">
                        <input autocomplete="off" asp-for="@Model.Code" class="form-control form-control-lg" placeholder="请输入6位验证码"/>
                    </div>
                    <div class="col-md-4 text-right" style="padding-right: 0px;">
                        <button type="button" class="btn btn-primary text-center" style="width: 100%;" id="btn-send-code">发送验证码</button>
                    </div>
                    <span id="codeval" asp-validation-for="@Model.Code" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input autocomplete="new-password" asp-for="@Model.NewPassword" class="form-control form-control-lg" placeholder="请输入新密码"/>
                    <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
                    <span class="icon icon-visible" aria-hidden="true"></span>
                </div>
                <div class="form-group">
                    <input asp-for="@Model.PasswordConfirm" class="form-control form-control-lg" placeholder="请再次确认密码"/>
                    <span asp-validation-for="@Model.PasswordConfirm" class="text-danger"></span>
                    <span class="icon icon-visible" aria-hidden="true"></span>
                </div>
                <div style="margin-bottom: 10px" class="text-right">
                    <a asp-controller="Account" asp-action="Login">返回登录></a>
                </div>
                <div class="form-group" style="margin-bottom: 0px">
                    <button type="submit" id="btn-reset-pwd" class="btn btn-block btn-primary btn-lg" value="submit">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <environment names="Development">
        <script src="~/js/account-send-code.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/account-send-code.min.js"></script>
    </environment>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}l>