@using IdentityServer4.SecurityTokenService.Common
@model IdentityServer4.SecurityTokenService.Models.Account.LoginViewModel
@inject STSOptions STSOptions
@{
    ViewData["Title"] = "统一认证";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="bg"></div>
<div class="logo">
    <img src="~/image/logo.png" alt="logo" style="width: 142px;">
    <span>@Html.Raw(STSOptions.LoinSlogan)</span>
</div>
<div class="content-login">
    @if (Model.EnableLocalLogin)
    {
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">密码登录</h2>
                @* <partial name="_ValidationSummary"/> *@
                <form method="post">
                    <div class="form-group">
                        @* <label asp-for="@Model.Username"></label> *@
                        <input asp-for="@Model.Username" class="form-control form-control-lg" placeholder="请输入账号"/>
                        <div>
                            <span asp-validation-for="@Model.Username" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group" style="position: relative;">
                        @* <label asp-for="@Model.Password"></label> *@
                        <i class="icon-password pwd-icon"></i>
                        <input style="padding-right: 37px;" type="password" asp-for="@Model.Password" class="form-control form-control-lg pwd" placeholder="请输入密码"/>
                        <div>
                            <span asp-validation-for="@Model.Password" class="text-danger"></span>
                            <span class="icon icon-visible" aria-hidden="true"></span>
                        </div>
                    </div>

                    <div class="form-group form-extra" style="margin-bottom:20px;">
                        @* @if (Model.AllowRememberLogin)
                        {
                            <div class="form-check checkbox">
                                <label asp-for="@Model.RememberLogin">
                                    <input class="form-check-input" asp-for="@Model.RememberLogin"/>
                                    @(Html.DisplayNameFor(model => model.RememberLogin))
                                </label>
                            </div>
                        } *@
                    <div class="form-group form-check" style="margin: auto 0px;display: flex">
                        <input style="margin-top: 2px;" type="checkbox" checked class="form-check-input" id="rememberme">
                        <label class="form-check-label" for="rememberme">记住我</label>
                    </div>
                        <a class="forgetpwd" asp-controller="Account" asp-action="ChangePassword" asp-route-returnUrl="@Model.ReturnUrl">忘记密码</a>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-block btn-primary btn-lg loginButton" name="button" value="login">登录</button>
                    </div>
                    @* <div class="form-group">
                            <p>
                                <a asp-controller="Account" asp-action="ForgotPassword">Forgot your password?</a>
                            </p>
                            @if (STSOptions.OpenRegister)
                            {
                                <p>
                                    <a asp-controller="Account" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                                </p>
                            }
                        </div> *@
                </form>
            </div>
        </div>
    }
</div>

@section Scripts {
    <environment names="Development">
        <script src="~/js/account-send-code.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/account-send-code.min.js"></script>
    </environment>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}